.am-list-item {
    padding-left: 0;
    min-height: auto;
}
.am-list-line {
    padding-right: 0 !important;
    display: flex;
}
.am-list-content {
    padding: 0 !important;
    width: 84px !important;
    margin-right: 8px !important;
    line-height: 24px !important;
    height: 24px !important;
    font-family: PingFangSC-Regular !important;
    font-size: 16px !important;
    color: #333 !important;
    flex: none !important;
}
.am-list-extra {
    padding: 0 !important;
    flex: 1;
    height: 24px;
    line-height: 24px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666;
    text-align: left !important;
}
.am-modal-transparent {
    width: 85%;
}
.am-modal-button-group-v .am-modal-button {
    color: #FC4277 !important;
}
.am-modal-title {
    color: #333 !important;
}
